In [3]:
import pandas as pd

# Read the baseline xlsx file
df = pd.read_excel('BDLC.xlsx')
xls = pd.ExcelFile('BDLC.xlsx')

# Now you can list all sheets in the file
xls.sheet_names

# to read just one sheet to dataframe:
dfL = pd.read_excel('BDLC.xlsx', sheet_name='Lenstar') 
dfC = pd.read_excel('BDLC.xlsx', sheet_name='Cassini_full')

C:\Users\acer\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\acer\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\acer\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [4]:
dfC.shape

(1093, 29)

In [5]:
# Sort the values from dfC ascending
dfC = dfC.sort_values('NHC', ascending=True)
dfL = dfL.sort_values('NHC',ascending=True)

In [20]:
dfC.head(10)

,id,NHC,C_Eye,C_Mode,C_K_Axis,C_K2,C_K1,C_K_Ast,C_K_Ast_Type,C_TCA_Axis,...,C_Post_D1,C_Post_Ast,C_Post_Ast_Type,C_Surgery_State,Quality_Factor_Lateral_Value,Quality_Factor_Axial_Value,Quality_Factor_Coverage_Value,Quality_Factor_Stability_Value,Quality_Factor_Posterior_Value,Examination_Date
701,702,15646.0,OS,0,74,43.98965,43.06654,0.92307,NaN,75.47,...,-6.06561,-0.51895,NaN,NaN,92,100,96,100,100,2017-08-09 12:01:56.832
703,704,15646.0,OS,0,77,44.31210,43.14362,1.16851,NaN,80.32,...,-6.10213,-0.39068,NaN,NaN,89,94,87,100,100,2017-08-09 12:05:47.124
699,700,15646.0,OS,0,90,44.72628,43.30310,1.42316,NaN,91.67,...,-6.10088,-0.25988,NaN,NaN,88,97,96,100,100,2017-08-09 11:58:27.425
700,701,15646.0,OD,0,107,44.16377,43.08122,1.08255,NaN,101.44,...,-6.12877,-0.41115,NaN,NaN,92,97,96,100,100,2017-08-09 12:01:12.320
696,697,15646.0,OS,0,92,43.64694,42.54171,1.10520,NaN,97.17,...,-6.01986,-0.37255,NaN,NaN,91,97,100,100,100,2017-08-09 11:43:30.202
698,699,15646.0,OD,0,87,44.71099,43.33913,1.37188,NaN,86.22,...,-6.12840,-0.30630,NaN,NaN,94,97,91,100,100,2017-08-09 11:56:07.078
702,703,15646.0,OD,0,107,44.07513,42.98815,1.08694,NaN,99.64,...,-6.03870,-0.53333,NaN,NaN,93,94,96,100,100,2017-08-09 12:04:39.485
697,698,15646.0,OD,0,93,43.67722,42.23274,1.44445,NaN,93.03,...,-5.97721,-0.43763,NaN,NaN,93,97,100,100,100,2017-08-09 11:44:18.010
706,707,75557.0,OD,0,88,43.66778,42.39215,1.27563,NaN,82.47,...,-5.89352,-0.37985,NaN,NaN,85,91,89,100,100,2017-08-09 15:36:28.698
707,708,75557.0,OS,0,94,43.46214,42.72574,0.73638,NaN,103.74,...,-5.95596,-0.39411,NaN,NaN,89,91,100,100,100,2017-08-09 15:37:16.614

In [3]:
# dimensions of the file (rows,columns)
# dfL.shape # (3858, 22)  Lenstar
# dfC.shape # (1093, 29) Cassini

(1093, 29)

In [6]:
# Print list of column names
# lenstar
a=list(dfL.columns)

# Cassini
b=list(dfC.columns)

print(a)
print(b)

['id', 'NHC', 'L_Eye', 'L_Mode', 'L_CCT', 'L_AD', 'L_LT', 'L_AL', 'L_R1', 'L_K1', 'L_R2', 'L_K2', 'L_AST', 'L_AXIS', 'L_WTW', 'L_ICX', 'L_ICY', 'L_PD', 'L_PCX', 'L_PCY', 'L_Ast_Type', 'L_Surgery_State']
['id', 'NHC', 'C_Eye', 'C_Mode', 'C_K_Axis', 'C_K2', 'C_K1', 'C_K_Ast', 'C_K_Ast_Type', 'C_TCA_Axis', 'C_TCA_Ast', 'C_TCA_Ast_Type', 'C_Ant_Axis', 'C_Ant_D2', 'C_Ant_D1', 'C_Ant_Ast', 'C_Ant_Ast_Type', 'C_Post_Axis', 'C_Post_D2', 'C_Post_D1', 'C_Post_Ast', 'C_Post_Ast_Type', 'C_Surgery_State', 'Quality_Factor_Lateral_Value', 'Quality_Factor_Axial_Value', 'Quality_Factor_Coverage_Value', 'Quality_Factor_Stability_Value', 'Quality_Factor_Posterior_Value', 'Examination_Date']

### Identificaar Cassini únicos com maior 'Quality_Factor_Posterior_Value'

* first order cassini based on ''Quality_Factor_Posterior_Value'' in descending order

* Keep the first of the duplicates

In [ ]:
# # Sort DataFrame by Column1 and then by the maximum value of Column2 within each group

# sorted_df = df.sort_values(by=['Column1', 'Column2'], ascending=[True, False])

# # This will sort the DataFrame first by values in Column1 in ascending order and then, within each group of duplicates in Column1, it will sort them based on the maximum value of Column2 in descending order

In [7]:
dfC1 = dfC.sort_values(['NHC', 'Quality_Factor_Posterior_Value'], ascending=[True, False])
# This will sort the DataFrame first by values in Column1 in ascending order and then, within each group of duplicates in Column1, it will sort them based on the maximum value of Column2 in descending order

In [8]:
dfC1 = dfC1.drop_duplicates(subset='NHC' , keep='first')

In [15]:
dfC.shape

(1093, 29)

In [16]:
dfC1.shape

(395, 29)

In [20]:
(dfC1.shape[0]/dfC.shape[0])

0.3613906678865508

In [59]:
# with pd.ExcelWriter("test.xlsx") as writer: # the name of the xlsx can be anything
#     dfC1.to_excel(writer,sheet_name='Cass',index=False)

### Separate Phakic and Not Phakic do Lenstar

In [22]:
# In Lenstar
# Divide the Phakic and not Phakic groups. 
# Phakic = pre-operation, meaning the LT (lens Thickness) is usually around 4mm
# Not Phakic = post-operation, meaning the LT (lens Thickness) is usually around 1~2mm

# clean all rows that are not phakic
dfL_phakic = dfL.drop(dfL[dfL['L_Mode'] != 'Phakic'].index)
# preserve all discarded rows
dfL_Notphakic= dfL.drop(dfL[dfL['L_Mode'] == 'Phakic'].index)

# Cassini, 'C_mode' tem definido como 0 os valores para os Phakic,
# mas não se tem a certeza, vamos agrupar o NHC por aproximidade ***

#### Sorting of Phakic on Lenstar without any condition applied, was just selected the first row to define the duplicates

In [26]:
# f.sort_values(by=['Column1', 'Column2'], ascending=[True, False]
# dfC1 = dfC1.drop_duplicates(subset='NHC' , keep='first')

# assumindo que OS e OD são indestinguivéis, não importa

dfL_phakic1 = dfL_phakic.sort_values(by='id', ascending=True)
dfL_phakic1 = dfL_phakic1.drop_duplicates(subset='NHC' , keep='first')

In [25]:
dfL_phakic.shape

(3700, 22)

In [27]:
dfL_phakic1.shape

(1959, 22)

In [28]:
(dfL_phakic1.shape[0]/dfL_phakic.shape[0])

0.5294594594594595

In [31]:
dfL_phakic.shape

(3700, 22)

In [61]:
dfL_phakic.shape

(3700, 22)

### Combine data

#### Phakic

In [170]:
dfL_phakic1.shape

(1959, 22)

In [171]:
# dfC1 - with unique NHC in Cassini 
# dfL_phakic1 - Lenstar

df_Phakic = pd.concat([dfC1, dfL_phakic1], ignore_index=True,axis=0)

In [172]:
df_Phakic.sort_values(by='NHC',ascending=True)

,id,NHC,C_Eye,C_Mode,C_K_Axis,C_K2,C_K1,C_K_Ast,C_K_Ast_Type,C_TCA_Axis,...,L_AST,L_AXIS,L_WTW,L_ICX,L_ICY,L_PD,L_PCX,L_PCY,L_Ast_Type,L_Surgery_State
0,697,1.564600e+04,OS,0,92.0,43.64694,42.54171,1.10520,NaN,97.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,707,7.555700e+04,OD,0,88.0,43.66778,42.39215,1.27563,NaN,82.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,690,5.146540e+05,OD,0,90.0,43.65411,42.34524,1.30885,NaN,84.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,889,1.751981e+06,OD,0,67.0,42.79926,41.88031,0.91898,NaN,59.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,1,6.011940e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.38,5.0,12.36,-0.42,0.43,3.41,-0.28,0.24,ATR,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1633,2429,1.081331e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.58,11.0,11.86,0.18,0.15,7.08,0.09,-0.35,ATR,NaN
2204,3563,1.098942e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.41,118.0,12.11,-0.26,-0.33,6.86,-0.23,-0.32,WTR,NaN
2226,3605,1.099823e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.07,130.0,12.21,-0.63,0.13,3.65,-0.64,0.18,obl,NaN
394,688,NaN,OD,0,114.0,42.36554,42.24300,0.12252,NaN,117.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1303,1774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.49,81.0,12.50,-0.22,0.43,5.96,-0.16,0.03,WTR,NaN

In [173]:
#Filter DataFrame to keep rows with duplicate values in column 'A'
df_Phakic_sorted = df_Phakic[df_Phakic.duplicated(subset=['NHC'], keep = False)]
df_Phakic_sorted = df_Phakic_sorted.sort_values(by = ['NHC'], ascending= True)

In [174]:
df_Phakic.shape

(2354, 49)

In [175]:
df_Phakic_sorted.shape

(598, 49)

In [176]:
# garantir que não haja valores sem NHC 
df_Phakic_sorted = df_Phakic_sorted.dropna(subset=['NHC'])

In [177]:
df_Phakic_sorted.shape

(596, 49)

In [59]:
# with pd.ExcelWriter("test2.xlsx") as writer: # the name of the xlsx can be anything
#     df_Phakic_sorted.to_excel(writer,sheet_name='Phakic',index=False)

#### Not Phakic

In [178]:
# Not phakic Data
# dfL_notphakic1 

dfL_notphakic1 = dfL_Notphakic.sort_values(by='id', ascending=True)
dfL_notphakic1 = dfL_notphakic1.drop_duplicates(subset='NHC' , keep='first')

In [179]:
# dfC1 - with unique NHC in Cassini 
# dfL_notphakic1 - Lenstar

df_notphakic = pd.concat([dfC1, dfL_notphakic1], ignore_index=True,axis=0)

In [180]:
df_notphakic.sort_values(by='NHC',ascending=True)

,id,NHC,C_Eye,C_Mode,C_K_Axis,C_K2,C_K1,C_K_Ast,C_K_Ast_Type,C_TCA_Axis,...,L_AST,L_AXIS,L_WTW,L_ICX,L_ICY,L_PD,L_PCX,L_PCY,L_Ast_Type,L_Surgery_State
0,697,1.564600e+04,OS,0,92.0,43.64694,42.54171,1.10520,NaN,97.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,707,7.555700e+04,OD,0,88.0,43.66778,42.39215,1.27563,NaN,82.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,690,5.146540e+05,OD,0,90.0,43.65411,42.34524,1.30885,NaN,84.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,889,1.751981e+06,OD,0,67.0,42.79926,41.88031,0.91898,NaN,59.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,679,1.009245e+07,OD,0,77.0,42.16931,41.60190,0.56741,NaN,77.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,132,1.106272e+08,OD,0,37.0,44.58665,43.86575,0.72089,NaN,33.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,120,1.106329e+08,OD,0,155.0,45.61933,45.00474,0.61462,NaN,147.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,122,1.106426e+08,OD,0,30.0,44.08221,43.58793,0.49426,NaN,24.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,297,1.001919e+09,OS,0,165.0,41.70636,41.32661,0.37979,NaN,156.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,688,NaN,OD,0,114.0,42.36554,42.24300,0.12252,NaN,117.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
df_notphakic_sorted = df_notphakic[df_notphakic.duplicated(subset=['NHC'], keep = False)]
df_notphakic_sorted = df_notphakic_sorted.sort_values(by = ['NHC'], ascending= True)

In [182]:
df_notphakic.shape

(500, 49)

In [183]:
df_notphakic_sorted.shape

(82, 49)

In [50]:
dfC1.shape

(395, 29)

### Combine Lenstar and Cassini

#### Combine Lenstar and Cassini Phakic

In [184]:
df_junto_phakic = df_Phakic_sorted.groupby('NHC', as_index=False).first()

In [185]:
df_junto_phakic.shape

(298, 49)

In [186]:
df_Phakic_sorted.shape

(596, 49)

#### Combine Lenstar and Cassini NOT Phakic

In [187]:
df_junto_Notphakic = df_notphakic_sorted.groupby('NHC', as_index=False).first()

In [188]:
df_notphakic_sorted.shape

(82, 49)

In [189]:
df_junto_Notphakic.shape

(41, 49)

df_junto_phakic
df_junto_Notphakic

In [101]:
df_junto_phakic.columns

Index(['NHC', 'id', 'C_Eye', 'C_Mode', 'C_K_Axis', 'C_K2', 'C_K1', 'C_K_Ast',
       'C_K_Ast_Type', 'C_TCA_Axis', 'C_TCA_Ast', 'C_TCA_Ast_Type',
       'C_Ant_Axis', 'C_Ant_D2', 'C_Ant_D1', 'C_Ant_Ast', 'C_Ant_Ast_Type',
       'C_Post_Axis', 'C_Post_D2', 'C_Post_D1', 'C_Post_Ast',
       'C_Post_Ast_Type', 'C_Surgery_State', 'Quality_Factor_Lateral_Value',
       'Quality_Factor_Axial_Value', 'Quality_Factor_Coverage_Value',
       'Quality_Factor_Stability_Value', 'Quality_Factor_Posterior_Value',
       'Examination_Date', 'L_Eye', 'L_Mode', 'L_CCT', 'L_AD', 'L_LT', 'L_AL',
       'L_R1', 'L_K1', 'L_R2', 'L_K2', 'L_AST', 'L_AXIS', 'L_WTW', 'L_ICX',
       'L_ICY', 'L_PD', 'L_PCX', 'L_PCY', 'L_Ast_Type', 'L_Surgery_State'],
      dtype='object')

### Converting to Excel

In [191]:
df_junto_Notphakic.shape

(41, 49)

In [194]:
# # Drop empty columns - Perigoso assume vazio. NaN e zero como empty
df_junto_phakic1 = df_junto_phakic.dropna(axis=1, how='all')
df_junto_Notphakic1 = df_junto_Notphakic.dropna(axis=1, how='all')

In [195]:
with pd.ExcelWriter("Double.xlsx") as writer: # the name of the xlsx can be anything
    df_junto_phakic1.to_excel(writer,sheet_name='Phakic',index=False)
    df_junto_Notphakic1.to_excel(writer,sheet_name='Not Phakic',index=False)

### Extras

In [123]:
# Example DataFrame
df = pd.DataFrame({'A': [1, 1, 2, 2, 3],
                   'B': ['x', 'y', 'z', 'w', 'q'],
                   'C': ['p', 'q', 'r', 's', 't']})

# Group by column 'A' and aggregate rows by concatenating values of columns 'B' and 'C'
merged_df = df.groupby('A').agg({'B': lambda x: ', '.join(x), 'C': lambda x: ', '.join(x)}).reset_index()

print(merged_df)

   A     B     C
0  1  x, y  p, q
1  2  z, w  r, s
2  3     q     t

In [119]:
# # Filter DataFrame to keep rows with duplicate values in column 'A'
# duplicate_rows = df[df.duplicated(subset=['A'], keep=False)]

#dfL_Notphakic= dfL.drop(dfL[dfL['L_Mode'] == 'Phakic'].index)

dfL_Notphakic1 = dfL_Notphakic.sort_values(by='id', ascending=True)
dfL_Notphakic1 = dfL_Notphakic1.drop_duplicates(subset='NHC' , keep='first')

In [120]:
df_Phakic = pd.concat([dfC1, dfL_phakic1], ignore_index=True,axis=0)

In [121]:
df_NOtPhakic.sort_values(by='NHC',ascending=True)

,id,NHC,C_Eye,C_Mode,C_K_Axis,C_K2,C_K1,C_K_Ast,C_K_Ast_Type,C_TCA_Axis,...,L_AST,L_AXIS,L_WTW,L_ICX,L_ICY,L_PD,L_PCX,L_PCY,L_Ast_Type,L_Surgery_State
0,697,1.564600e+04,OS,0,92.0,43.64694,42.54171,1.10520,NaN,97.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,707,7.555700e+04,OD,0,88.0,43.66778,42.39215,1.27563,NaN,82.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,690,5.146540e+05,OD,0,90.0,43.65411,42.34524,1.30885,NaN,84.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,889,1.751981e+06,OD,0,67.0,42.79926,41.88031,0.91898,NaN,59.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,679,1.009245e+07,OD,0,77.0,42.16931,41.60190,0.56741,NaN,77.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,132,1.106272e+08,OD,0,37.0,44.58665,43.86575,0.72089,NaN,33.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,120,1.106329e+08,OD,0,155.0,45.61933,45.00474,0.61462,NaN,147.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,122,1.106426e+08,OD,0,30.0,44.08221,43.58793,0.49426,NaN,24.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,297,1.001919e+09,OS,0,165.0,41.70636,41.32661,0.37979,NaN,156.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,688,NaN,OD,0,114.0,42.36554,42.24300,0.12252,NaN,117.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': ['x', 'y', 'z'], 'C': ['x', 'y', 'z']})
df2 = pd.DataFrame({'A': [4, 5, 6], 'B': ['x', 'y', 'z']})
df3 = pd.DataFrame({'A': [7, 8, 9], 'B': ['y', 'z', 'x']})

# Concatenate while preserving indices
stacked_df = pd.concat([df1, df2, df3], ignore_index=False)

print(stacked_df)

   A  B    C
0  1  x    x
1  2  y    y
2  3  z    z
0  4  x  NaN
1  5  y  NaN
2  6  z  NaN
0  7  y  NaN
1  8  z  NaN
2  9  x  NaN

In [27]:
with pd.ExcelWriter("test.xlsx") as writer: # the name of the xlsx can be anything
    result.to_excel(writer,sheet_name='Phakic',index=False)